# Project exclude paths
/.gradle/
.idea/*
local.properties
app/build/*
local.properties.template
/build/reports/problems/problems-report.html
/.kotlin/
/app/release/*
/app/production/release/app-production-release.aab
